body {
    font-family: 'Roboto', sans-serif; /* Aplica a fonte a todo o corpo */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    height: 30px;
    margin-right: 8px;
}
.navbar-brand span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.nav-link {
    color: white;
}

.banner-content {
    position: absolute; /* Manter posição absoluta para sobreposição */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    z-index: 2; /* Certifica-se de que está acima da sombra */
    color: white; /* Define a cor do texto como branca */
    text-align: center; /* Centraliza o texto */
}

/* estilização do dropdown (opções de usuário) */
.dropdown-menu {
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.dropdown-item {
    font-size: 14px;
    padding: 10px;
    color: #333;
}
.dropdown-item:hover {
    background-color: #f8f9fa;
}
.font-weight-bold {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 10px;
}


/* CSS customizado para a navbar e o estado ativo */
.navbar {
    padding: 0.5rem 1rem;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-item.active .nav-link {
    color: #00458f !important; /* Cor para o link ativo */
}

.navbar .nav-item:hover .nav-link {
    color: #00458f !important; /* Cor ao passar o mouse */
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.dropdown-menu {
    min-width: 200px;
}

.team-photo {
    width: 150px; /* Define o tamanho fixo */
    height: 150px; /* Garante o formato quadrado */
    object-fit: cover; /* Corta a imagem para caber no espaço */
    border-radius: 50%; /* Deixa as bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito hover */
}

.team-photo:hover {
    transform: scale(1.1); /* Aumenta levemente no hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Intensifica a sombra no hover */
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}
